<a href="https://colab.research.google.com/github/marqueserick/ciencia-dados/blob/main/02_limpeza_tratamento_dados/01_limpeza_tratamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import seaborn as sns
import statistics as sts

In [2]:
data = "https://raw.githubusercontent.com/marqueserick/ciencia-dados/main/02_limpeza_tratamento_dados/00_dados/Churn.csv"
dataset = pd.read_csv(data, sep=";")
dataset.head()

   X0   X1  X2        X3  X4  X4.1        X6  X7  X8  X9         X10  X11
0   1  619  RS  Feminino  42     2         0   1   1   1  10134888.0    1
1   2  608  SC  Feminino  41     1   8380786   1   0   1  11254258.0    0
2   3  502  RS  Feminino  42     8   1596608   3   1   0  11393157.0    1
3   4  699  RS  Feminino  39     1         0   2   0   0   9382663.0    0
4   5  850  SC  Feminino  43     2  12551082   1   1   1    790841.0    0