<a href="https://colab.research.google.com/github/marqueserick/ciencia-dados/blob/main/01_introducao_ao_python/01_variaveis_e_objetos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Formação Cientista de Dados - Erick Marques
Variáveis e Objetos

In [3]:
#Cria variável do tipo inteiro
x = 1
print(x)
#Cria variável do tipo float
y = 3.13
print(y)
#Cria variável do tipo string
m = "Python"
m = 'Python'
print(m)
#Cria variável do tipo lógica
w = True  
y = False
print(y)

1
3.13
Python
False

In [4]:
#calculadora
x = 10
y = 20
z = 100
w = (x + y) * z / 100
print(w)

30.0

In [5]:
#exibir texto no console
print("Este texto será impresso no console")
print(x)
print("Texto e duas variáveis: ", x ,", ", z)

Este texto será impresso no console
10
Texto e duas variáveis:  10 ,  100

In [6]:
#verificar tipo
print(type(x))
print(type(m))

<class 'int'>
<class 'str'>

In [7]:
#entrada de dados
print("Informe o valor: ")
i = input()
#mostra tipo string
print(type(i))

Informe o valor:
10
<class 'str'>

In [8]:
#entrada de valor com msg separada e junto
print("Informe o valor: ")
i = input()
# ou
i = input("Informe o valor: ")

Informe o valor:
9
Informe o valor: 0

In [9]:
#conversão de valores
#para inteiro
var = input("Informe o valor: ")
print(type(var))
var = int(var)
print(type(var))

Informe o valor: 8
<class 'str'>
<class 'int'>

In [10]:
#para float
var = input("Informe o valor: ")
print(type(var))
var = float(var)
print(type(var))

Informe o valor: 7
<class 'str'>
<class 'float'>

In [11]:
# Este texto é um comentário
X = 10  # a partir daqui é um comentário